.searchBar {
  width: 597px;
  height: 73px;

  background-color: #d0d0d2;
  border: 3px solid #4a1fa3;
  border-radius: 999px;
  padding: 0px 10px;
  
  box-shadow: inset -3px -2px 5px #4a1fa3;
  
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}
