.app {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

img{
  height: 190px;
  object-fit: cover;
  border-radius: 10px;
}

button {
  border-radius: 10px;
  font-size: 12pt;
  padding: 10px;  
}