

h2 {
  color: green;
}

p {
  color: rgb(0, 71, 71);
}

button{
  background-color: gold;
}

button:hover{
  filter: brightness(2);
}

div {
  opacity: 0;
  animation: appear 1s forwards;
}


@keyframes appear {
  100% {opacity: 1;}
}

